.frameChild,
.frameInner,
.frameItem,
.rectangleDiv {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-red);
  height: 80px;
}
.frameInner,
.frameItem,
.rectangleDiv {
  background-color: var(--primary-weak);
}
.frameInner,
.rectangleDiv {
  background-color: var(--boder);
}
.rectangleDiv {
  background-color: var(--background-backgroundprimary);
  border: 1px solid var(--boder);
  box-sizing: border-box;
}
.colorParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.rectangleParent {
  width: 400px;
  flex-direction: row;
}
.colorParent {
  flex-direction: column;
}
.textColor {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.frameChild1 {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--text-primary);
  height: 80px;
}
.frameChild2 {
  background-color: var(--text-secondary);
}
.frameChild2,
.frameChild3,
.frameChild4 {
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  height: 80px;
}
.frameChild3 {
  background-color: var(--text-tertiary);
}
.frameChild4 {
  background-color: #d9d9d9;
}
.color,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  gap: 80px;
}
.color {
  background-color: var(--background-backgroundprimary);
  overflow: hidden;
  padding: 120px;
  text-align: left;
  font-size: var(--heading-size);
  color: var(--text-primary);
  font-family: var(--body-large-semibold);
}
