.divheaderWrapperIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 972.66px;
  height: 65px;
}
.divheaderActionItem {
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-gray-300);
  width: 40px;
  height: 40px;
}
.svgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.spanbadgeDot {
  position: absolute;
  top: -1px;
  left: 14px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-crimson-100);
  width: 8px;
  height: 8px;
}
.spanbadgeWrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-gray-300);
  width: 24px;
  height: 24px;
}
.divIcon,
.spanavatarIcon {
  position: relative;
  border-radius: var(--br-9980xl);
  width: 40px;
  height: 40px;
}
.spanavatarIcon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 33px;
  height: 33px;
}
.admin {
  position: absolute;
  top: 0.67px;
  left: 0;
  line-height: 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 35.86px;
  height: 14px;
}
.divtextXs {
  top: 0;
  background-color: var(--color-gray-300);
  height: 16px;
}
.abdurrahman,
.divfontBold,
.divtextXs {
  position: absolute;
  left: 0;
  width: 94.66px;
}
.abdurrahman {
  top: 2px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}
.divfontBold {
  top: 16px;
  height: 21px;
  font-size: var(--paragraph-small-size);
}
.divfontBold,
.divheaderActionItem1,
.divhidden {
  background-color: var(--color-gray-300);
}
.divhidden {
  position: absolute;
  top: 8px;
  left: 48px;
  width: 94.66px;
  height: 37px;
}
.divheaderActionItem1 {
  position: relative;
  border-radius: var(--br-9980xl);
  width: 150.66px;
  height: 53px;
}
.divheaderAction {
  position: absolute;
  top: calc(50% - 26px);
  right: 90px;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-5xs);
}
.headerheader {
  position: absolute;
  top: 0;
  left: 18%;
  background-color: var(--background-backgroundprimary);
  border-bottom: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 88%;
  height: 12%;
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
.txtDev {
  position: relative;
  align-items: center;
  top: 27%;
  left: 18%;
  font-weight: 100;
  font-size:x-large;
  height: 25%;
  width: 50%;
}

.Img{
  position: relative;
  top: 34%;
  left: -25%;
  width: 50%;
  height: 50%;
  overflow: hidden;
}
.thisFeatureIn {
  position: absolute;
  top: 134px;
  left: calc(50% - 371px);
  font-size: var(--font-size-11xl);
  line-height: 21px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 23.12%;
  width: 18.86%;
  top: 76.79%;
  right: 80.81%;
  bottom: 0.09%;
  left: 0.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 21.59%;
  width: 10.34%;
  top: 77.83%;
  right: 86.4%;
  bottom: 0.58%;
  left: 3.26%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  height: 57.17%;
  width: 53.13%;
  top: 0;
  right: 24.56%;
  bottom: 42.83%;
  left: 22.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  height: 0.33%;
  width: 52.92%;
  top: 4.66%;
  right: 24.67%;
  bottom: 95.01%;
  left: 22.41%;
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  height: 1.99%;
  width: 1.27%;
  top: 1.5%;
  right: 75.15%;
  bottom: 96.51%;
  left: 23.58%;
}
.vectorIcon5,
.vectorIcon6 {
  right: 73.32%;
  left: 25.41%;
}
.vectorIcon6 {
  right: 71.49%;
  left: 27.24%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  position: absolute;
  height: 2.33%;
  width: 10.39%;
  top: 10.05%;
  right: 45.93%;
  bottom: 87.62%;
  left: 43.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon8,
.vectorIcon9 {
  width: 22.59%;
  top: 15.7%;
  right: 39.84%;
  bottom: 81.97%;
  left: 37.58%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon9 {
  height: 12.68%;
  width: 8.09%;
  top: 40.08%;
  right: 30.2%;
  bottom: 47.24%;
  left: 61.71%;
}
.vectorIcon10,
.vectorIcon11 {
  top: 23.11%;
  right: 64.11%;
  bottom: 64.22%;
  left: 27.8%;
}
.vectorIcon11 {
  height: 6.72%;
  width: 3.94%;
  top: 26.08%;
  right: 66.18%;
  bottom: 67.2%;
  left: 29.88%;
}
.vectorIcon12,
.vectorIcon13,
.vectorIcon14,
.vectorIcon15,
.vectorIcon16 {
  position: absolute;
  height: 12.68%;
  width: 8.09%;
  top: 86.92%;
  right: 2.76%;
  bottom: 0.4%;
  left: 89.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon13,
.vectorIcon14,
.vectorIcon15,
.vectorIcon16 {
  height: 4.16%;
  width: 4.05%;
  top: 92.04%;
  right: 4.78%;
  bottom: 3.8%;
  left: 91.17%;
}
.vectorIcon14,
.vectorIcon15,
.vectorIcon16 {
  height: 3.85%;
  top: 90.32%;
  bottom: 5.83%;
}
.vectorIcon15,
.vectorIcon16 {
  height: 12.68%;
  width: 8.09%;
  top: 23.11%;
  right: 46.92%;
  bottom: 64.22%;
  left: 44.99%;
}
.vectorIcon16 {
  height: 4.59%;
  width: 4.89%;
  top: 27.15%;
  right: 48.53%;
  bottom: 68.26%;
  left: 46.59%;
}
.vectorIcon17,
.vectorIcon18,
.vectorIcon19,
.vectorIcon20,
.vectorIcon21,
.vectorIcon22 {
  position: absolute;
  height: 12.68%;
  width: 8.09%;
  top: 39.72%;
  right: 46.92%;
  bottom: 47.6%;
  left: 44.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon18,
.vectorIcon19,
.vectorIcon20,
.vectorIcon21,
.vectorIcon22 {
  top: 22.61%;
  right: 30.17%;
  bottom: 64.72%;
  left: 61.74%;
}
.vectorIcon19,
.vectorIcon20,
.vectorIcon21,
.vectorIcon22 {
  width: 6.03%;
  top: 39.72%;
  right: 64.11%;
  bottom: 47.6%;
  left: 29.86%;
}
.vectorIcon20,
.vectorIcon21,
.vectorIcon22 {
  height: 12.69%;
  width: 8.1%;
  top: 40.08%;
  right: 66.42%;
  bottom: 47.23%;
  left: 25.48%;
}
.vectorIcon21,
.vectorIcon22 {
  height: 3.88%;
  width: 2.92%;
  top: 42.54%;
  right: 68.08%;
  bottom: 53.58%;
  left: 29.01%;
}
.vectorIcon22 {
  height: 6.95%;
  width: 4.54%;
  top: 43.35%;
  right: 68.32%;
  bottom: 49.7%;
  left: 27.14%;
}
.vectorIcon23,
.vectorIcon24,
.vectorIcon25,
.vectorIcon26,
.vectorIcon27 {
  position: absolute;
  height: 12.68%;
  width: 8.09%;
  top: 63.35%;
  right: 22.55%;
  bottom: 23.98%;
  left: 69.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon24,
.vectorIcon25,
.vectorIcon26,
.vectorIcon27 {
  height: 5.08%;
  width: 4.99%;
  top: 67.14%;
  right: 24.1%;
  bottom: 27.78%;
  left: 70.91%;
}
.vectorIcon25,
.vectorIcon26,
.vectorIcon27 {
  height: 7.77%;
  width: 1.82%;
  top: 90.34%;
  right: 76.6%;
  bottom: 1.88%;
  left: 21.58%;
}
.vectorIcon26,
.vectorIcon27 {
  height: 2.78%;
  width: 4.04%;
  top: 97.18%;
  right: 74.14%;
  bottom: 0.04%;
  left: 21.82%;
}
.vectorIcon27 {
  height: 7.5%;
  width: 1.83%;
  top: 90.5%;
  right: 88.72%;
  bottom: 2%;
  left: 9.45%;
}
.vectorIcon28,
.vectorIcon29,
.vectorIcon30,
.vectorIcon31,
.vectorIcon32 {
  position: absolute;
  height: 2.36%;
  width: 3.9%;
  top: 97.44%;
  right: 86.92%;
  bottom: 0.2%;
  left: 9.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon29,
.vectorIcon30,
.vectorIcon31,
.vectorIcon32 {
  height: 32.28%;
  width: 14.77%;
  top: 63.26%;
  right: 76.09%;
  bottom: 4.46%;
  left: 9.14%;
}
.vectorIcon30,
.vectorIcon31,
.vectorIcon32 {
  height: 7.79%;
  width: 4.97%;
  top: 41.09%;
  right: 82.31%;
  bottom: 51.12%;
  left: 12.72%;
}
.vectorIcon31,
.vectorIcon32 {
  height: 17.96%;
  width: 6.8%;
  top: 50.06%;
  right: 81.39%;
  bottom: 31.98%;
  left: 11.81%;
}
.vectorIcon32 {
  height: 5.48%;
  width: 4.89%;
  top: 49.24%;
  right: 72.44%;
  bottom: 45.28%;
  left: 22.67%;
}
.vectorIcon33,
.vectorIcon34,
.vectorIcon35,
.vectorIcon36,
.vectorIcon37 {
  position: absolute;
  height: 7.48%;
  width: 12.13%;
  top: 50.03%;
  right: 74.32%;
  bottom: 42.49%;
  left: 13.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon34,
.vectorIcon35,
.vectorIcon36,
.vectorIcon37 {
  height: 22.14%;
  width: 12.89%;
  top: 38.93%;
  right: 82.44%;
  bottom: 38.93%;
  left: 4.66%;
}
.vectorIcon35,
.vectorIcon36,
.vectorIcon37 {
  height: 23.39%;
  width: 4.26%;
  top: 54.69%;
  right: 10.3%;
  bottom: 21.92%;
  left: 85.44%;
}
.vectorIcon36,
.vectorIcon37 {
  height: 20.44%;
  width: 3.61%;
  top: 76.93%;
  right: 17.24%;
  bottom: 2.63%;
  left: 79.15%;
}
.vectorIcon37 {
  top: 77.4%;
  right: 11.99%;
  bottom: 2.16%;
  left: 84.41%;
}
.vectorIcon38,
.vectorIcon39,
.vectorIcon40,
.vectorIcon41,
.vectorIcon42 {
  position: absolute;
  height: 2.49%;
  width: 4.09%;
  top: 97.2%;
  right: 18.79%;
  bottom: 0.31%;
  left: 77.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon39,
.vectorIcon40,
.vectorIcon41,
.vectorIcon42 {
  top: 97.46%;
  right: 13.49%;
  bottom: 0.05%;
  left: 82.42%;
}
.vectorIcon40,
.vectorIcon41,
.vectorIcon42 {
  height: 8.16%;
  width: 5.21%;
  top: 37.79%;
  right: 13.52%;
  bottom: 54.04%;
  left: 81.27%;
}
.vectorIcon41,
.vectorIcon42 {
  height: 23.26%;
  width: 9.63%;
  top: 47.25%;
  right: 10.16%;
  bottom: 29.49%;
  left: 80.21%;
}
.vectorIcon42 {
  height: 4.82%;
  width: 2.33%;
  top: 51.83%;
  right: 10.03%;
  bottom: 43.35%;
  left: 87.64%;
}
.vectorIcon43,
.vectorIcon44,
.vectorIcon45,
.vectorIcon46,
.vectorIcon47 {
  position: absolute;
  height: 14.29%;
  width: 10.17%;
  top: 68.95%;
  right: 11.15%;
  bottom: 16.76%;
  left: 78.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon44,
.vectorIcon45,
.vectorIcon46,
.vectorIcon47 {
  height: 17.22%;
  width: 6.75%;
  top: 52.35%;
  right: 17.13%;
  bottom: 30.42%;
  left: 76.13%;
}
.vectorIcon45,
.vectorIcon46,
.vectorIcon47 {
  height: 7.36%;
  width: 3.65%;
  top: 48.9%;
  right: 16.48%;
  bottom: 43.74%;
  left: 79.87%;
}
.vectorIcon46,
.vectorIcon47 {
  height: 9.69%;
  width: 6.17%;
  top: 36.1%;
  right: 12.51%;
  bottom: 54.21%;
  left: 81.32%;
}
.vectorIcon47 {
  height: 0.33%;
  width: 100%;
  top: 99.67%;
  right: 0;
  bottom: 0;
  left: 0;
}
.vectorIcon48,
.vectorIcon49 {
  height: 1%;
  width: 3.61%;
  right: 32.45%;
  left: 63.95%;
  max-width: 100%;
  max-height: 100%;
}
.vectorIcon48 {
  position: absolute;
  top: 48.08%;
  bottom: 50.92%;
  overflow: hidden;
}
.vectorIcon49 {
  top: 45.92%;
  bottom: 53.08%;
}
.imageVector,
.vectorIcon49,
.vectorIcon50 {
  position: absolute;
  overflow: hidden;
}
.vectorIcon50 {
  height: 1%;
  width: 3.61%;
  top: 43.76%;
  right: 32.45%;
  bottom: 55.24%;
  left: 63.95%;
  max-width: 100%;
  max-height: 100%;
}
.imageVector {
  text-decoration: none;
  top: 225px;
  left: calc(50% - 248px);
  width: 497px;
  height: 317px;
}
.getExclusiveEarly,
.requestAccess {
  position: absolute;
  left: calc(50% - 347.5px);
}
.getExclusiveEarly {
  top: 44px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 794px;
}
.requestAccess {
  text-decoration: none;
  top: 111px;
  font-size: var(--body-large-semibold-size);
  line-height: 20px;
  font-weight: 700;
  color: var(--color-salmon-200);
}
.image7AdobeExpress1 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 163px;
  height: 163px;
  overflow: hidden;
}
.getExclusiveEarlyAccessToParent {
  position: absolute;
  top: 663px;
  left: calc(50% - 526px);
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1053px;
  height: 173px;
  overflow: hidden;
  font-size: var(--h2-title-size);
}
.cantWait {
  position: absolute;
  top: 602px;
  left: calc(50% - 525px);
  font-size: var(--font-size-6xl);
  line-height: 21px;
  font-weight: 600;
}
.headerheaderParent {
  position: absolute;
  top: calc(50% - 450px);
  left: 250px;
  background-color: var(--background-backgroundprimary);
  width: 1190px;
  height: 900px;
  overflow: hidden;
}
.asset84xIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divlogo,
.logo {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 175px;
  height: 35px;
}
.divlogo {
  top: 25px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 250px;
  height: 64px;
}
.growthIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.myGroup {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-gray-100);
  text-align: left;
}
.component1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-14xl);
  background-color: transparent;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.component1Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analytics1 {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-red-100);
  text-align: left;
}
.dollarCoinParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-lavenderblush);
  border-radius: var(--br-base);
  box-shadow: 0 4px 58px rgba(0, 0, 0, 0.07);
  width: 219px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  z-index: 0;
}
.frameChild {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 15.5px);
  left: 0;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-red-100);
  width: 6px;
  height: 32px;
  z-index: 1;
}
.frameParent,
.menuItem {
  display: flex;
  flex-direction: column;
}
.frameParent {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-36xl);
}
.menuItem {
  position: absolute;
  top: 158px;
  left: 0;
  width: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.influencer,
.theresaMilly {
  position: relative;
  line-height: 137.1%;
}
.theresaMilly {
  letter-spacing: 0.02em;
  font-weight: 500;
}
.influencer {
  font-size: var(--other-other-regular-size);
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}
.theresaMillyParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logout1 {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-orangered-100);
  text-align: left;
}
.logout,
.logoutGroup {
  display: flex;
  justify-content: center;
}
.logoutGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-13xl);
  background-color: var(--color-orangered-200);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.logout {
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  box-shadow: 0 11px 56px rgba(0, 0, 0, 0.07);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 202px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-17xl) var(--padding-base) var(--padding-base);
  gap: var(--gap-xs);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 71px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.logoutParent {
  position: absolute;
  top: 672px;
  right: 27px;
  width: 202px;
  height: 178px;
}
.billing,
.navbar {
  background-color: var(--background-backgroundprimary);
  height: 900px;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  width: 253px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-lexend);
}
.billing {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--other-other-regular-size);
  color: var(--color-darkslategray-200);
  font-family: var(--body-large-semibold);
}
