.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-height: max-content;
}

.pageLayout {
  flex-grow: 1;
}


.driverListContainer {
  padding-top: 3%;
  font-family: 'Poppins', 'sans-serif';
  margin-left: 3%;
  margin-right: 3%;
}

.driverList {
  font-size: var(--h2-title-size);
  font-weight: 600;
  color: var(--color-orangered-100);
}

.dateCreated {
  font-size: var(--font-size-mini);
  color: #4c4f69;
  margin-top: -1%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabContainer {
  display: flex;
  gap: 20px;
}

.activeTab {
  background-color: #EC5954;
  border-radius: 24px;
  font-size: 16px;
  color: #F9F9F9;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notActiveTab {
  border: 1px solid #EC5954;
  border-radius: 24px;
  font-size: 16px;
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.renderContent {
  margin-top: 8%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2%;
  border-radius: 10px;
}

.renderContent1 {
  margin-top: 0;
  padding: 2%;
}


.contentTitle {
  text-transform: uppercase;
  color: #435C9A;
  font-size: 16px;
  font-weight: 600;
}

.ContentV {
  display: flex;
  flex-direction: row;
}

.ContentOne {
  width: 291px;
  height: 90px;
}

.Contenttwo {
  width: 291px;
  height: 90px;
}

.Content0 {
  width: 291px;
  height: 90px;
}

.ContentG {
  color: #6B7280;
  font-family: Urbanist-Medium;
  font-weight: 400;
}

.ContentB {
  color: #3F3F3F;
  font-weight: 500;
  font-family: Urbanist-SemiBold;
}


.ContentV button {
  margin-right: 10px;
  /* Add any margin or padding as needed */
  padding: 8px 12px;
  /* Add any padding as needed */
  color: #000000;
  /* Set the text color */
  cursor: pointer;
}

.ContentV button:hover {
  color: #0056b3;
  /* Change background color on hover */
}

.ContentV button.active {
  color: #b30000;
  /* Set active background color */
}

.ContentV button.inactive {
  color: #00ff6e;
  /* Set inactive background color */
  opacity: 0.7;
  /* Adjust opacity for inactive buttons */
}

.groupItem,
.mapgroupItem,
.rectangleGroup {
  position: absolute;
  height: 44px;
}

.prof {
  position: absolute;
  top: 157px;
  right: 36px;
  border-radius: 13px;
  background-color: #fdf1f0;
  width: 342px;
  height: 129px;
  overflow: hidden;
  font-size: 18px;
  color: #020202;
  font-family: Lexend;
}

.Icon {
  position: absolute;
  top: 27px;
  left: 230px;
  border-radius: 4px;
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.Icon2 {
  position: absolute;
  height: 17.83%;
  width: 7.02%;
  top: 70.54%;
  right: 8.19%;
  bottom: 11.63%;
  left: 84.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.headtext {
  position: absolute;
  top: 27px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.a {
  font-size: 12px;
  font-weight: 600;
  color: #ec5954;
}

.b {
  white-space: normal;
  max-width: 80%;
}

.a,
.b {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}



.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: #ea5858;
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 128px;
}

.saveChanges {
  position: absolute;
  top: 11px;
  left: 14px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: left;
}

.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 2%;
  position: relative;
  left: 75%;
  width: 98px;
}


.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 2%;
  left: 77%;
  width: 128px;
  height: 44px;
}

.edit,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
}

.groupChild {
  border-radius: var(--br-6xs);
  background-color: var(--background-backgroundprimary);
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 98px;
  height: 44px;
}

.notepencilIcon {
  position: absolute;
  height: 83.05%;
  width: 34.62%;
  top: 12.42%;
  right: 0;
  bottom: 4.53%;
  left: 65.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.editParent {
  position: absolute;
  top: 11px;
  left: 22px;
  width: 52px;
  height: 21px;
}

.mailInput {
  width: 256px;
  right: -400px;
  font-family: Urbanist-SemiBold;
}

.name {
  width: 200px;
  font-family: Urbanist-SemiBold;
  font-size: 16px;
  color: #374151;
}

.dob {
  width: 160px;
  font-family: Urbanist-SemiBold;
}

.phno {
  width: 160px;
  font-family: Urbanist-SemiBold;
}

.nic {
  width: 140px;
  font-family: Urbanist-SemiBold;
}

.attachedDocumentContainer {
  font-family: Urbanist-SemiBold;
  color: '#141736';
  padding: 20px;
}

.attachedDocument {
  color: #141736;
  font-size: var(--h2-title-size);
  font-weight: 600;
  font-family: Urbanist-SemiBold;
}

.headers {
  display: flex;
  justify-content: space-between;
  color: #7D8DA6;
  font-size: 14px;
}

.headers p {
  margin-left: 80px;
  margin-right: 80px;
  font-family: Urbanist-Regular;
  align-items: center;
}

.documentsContainerParent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.documentContainer {
  border-radius: 10px;
  border: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
}

.dropdownContainer {
  width: 58%;
  margin-left: 20px;
}

.miniDropdownContainer {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

}

.viewsTag {
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}

.nameTag {
  font-size: 13px;
  font-weight: 600;
  margin-right: 18px;
}

.uploadButtonContainer {
  align-items: center;
}

.blueText,
.nameTag {
  color: #1E57BA;
}

.uploadImg {
  margin-left: 10px;
}

.uploadBtn,
.uploadButtonContainer,
.miniDropdownContainer {
  display: flex;
  flex-direction: row;

}

.info {
  font-weight: 600;
}

.uploadBtn {
  cursor: pointer;
  border: 1px solid #bababa;
  padding: 7px 6px;
  background-color: #fbfbfb;
  height: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  justify-content: center;
  gap: 5px;
  margin-right: 45px;

}

.dropdownCaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

}

.greyText {
  color: #83898C;
  font-size: 12px;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  margin-left: 10px;
}

.documentContainer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.document1stContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.document2ndContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.document3rdContainer {
  display: flex;
  gap: 20px;
}


.docTitle {
  font-size: 16px;
  color: #141736;
  font-weight: 600;
  margin: 0;
  font-family: Urbanist-SemiBold
}

.approveButton {
  border-radius: 6px;
  border: 1px solid #BABABA;
  height: 28px;
  width: 82px;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #232323;
  font-weight: 600;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}


.rejectButton {
  border-radius: 6px;
  height: 28px;
  width: 82px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  background-color: #FE6470;
  display: flex;
  gap: 5px;
}

.rejectedButton {
  border-radius: 6px;
  height: 28px;
  width: 92px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  background-color: #FE6470;
  display: flex;
  gap: 5px;
}

.approvedButton {
  border-radius: 6px;
  height: 28px;
  width: 102.6px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  background-color: #75C88C;
  display: flex;
  gap: 5px;
}

.drpdwn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.drpdwn>* {
  margin-bottom: 10px;
}

.drpdwn> :last-child {
  margin-bottom: 0;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 212px;
  gap: 20px;
}

.span {
  color: #1e57ba;
}

.nicnum {
  position: relative;
  font-weight: 600;
}

.nictxt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}

.frntViw,
.viw {
  position: relative;
  line-height: 21px;
  font-weight: 600;
}

.upld {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-family: Urbanist;
  color: #232323;
  text-align: center;
}

.but,
.div,
.frnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.but {
  cursor: pointer;
  border: 1px solid #bababa;
  padding: 7px 6px;
  background-color: #fbfbfb;
  height: 30px;
  flex: 1;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  justify-content: center;
  gap: 5px;
}

.but:hover {
  background-color: #e0e0e0;
  border: 1px solid #878787;
  box-sizing: border-box;
}

.div,
.frnt {
  gap: 20px;
}

.div {
  width: 125px;
  justify-content: center;
  font-size: 13px;
  color: #1e57ba;
}

.frnt {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px 45px 10px 10px;
  max-width: 100%;
  color: #3f3f3f;
}

.two {
  font-weight: 40;
  position: relative;
  top: 7px;
}

.three {
  font-weight: 40;
  position: relative;
  top: 1px;
}

.imgtxt {
  position: relative;
  font-weight: 700;
}

.imgcont {
  width: 616px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px 45px 10px 10px;
  max-width: 100%;
  color: #3f3f3f;
}




.buttonbutton1 {
  position: absolute;

  left: 12.4px;
  background-color: var(--color-gray-300);
  width: 58.56px;
  height: 18px;
}

.buttonbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-salmon-100);

  border-radius: var(--br-7xs);
  width: 82.56px;
  height: 28px;
}

.spanflex3 {
  background-color: var(--color-gray-300);
  width: 201.17px;
  height: 36px;
}

.spanflex3 {

  width: 58.56px;
  height: 18px;
}

.reject2,
.spantextLgIcon4 {
  position: absolute;
  top: 5px;
  left: 15.4px;
  width: 18px;
  height: 18px;
}

.reject2 {
  top: 7px;
  left: 37.79px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 14px;
}