.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 3px solid rgb(0, 0, 0, 0.2);
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section {
  align-self: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarItemContainer {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.notActiveIcon {
  width: 5px;
  height: 40px;
  border-radius: 20px;
  padding-left: 2px;
}

.sidebarItem {
  font-family: 'Poppins', 'sans-serif';
  color: #818187;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 16px;
  width: 100%;
  margin-right: 10px;
  padding-left: 60px;
  cursor: pointer;
}

.sidebarItem img {
  width: 18px;
  height: 18px;
}

.activeIcon {
  width: 5px;
  background-color: #FA0000;
  height: 40px;
  border-radius: 20px;
  padding-left: 2px;
}

.activeSidebarItemContainer {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.activeSidebarItem {
  background-color: rgba(250, 0, 0, 0.05);
  font-family: 'Poppins', 'sans-serif';
  color: #FA0000;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 16px;
  width: 100%;
  margin-right: 10px;
  padding-left: 50px;
  cursor: pointer;
}

.activeSidebarItem img {
  width: 18px;
  height: 18px;
}

.logoutParent {
  width: 202px;
  height: 178px;
  border: 1px solid #818187;
  align-self: center;
}

.companyIcon {
  width: 80px;
  justify-content: center;
}

.logoutSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 16px;
  font-family: 'Poppins', 'sans-serif';
}

.companyImage {
  margin-top: -40px;
  width: 80px;

}

.companyText {
  color: black;
  font-weight: 700;
  margin-top: 10px;
}

.brandText {
  font-size: 12px;
  margin-top: -15px;
}

.logoutButton {
  background-color: rgba(250, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Poppins', 'sans-serif';
  color: rgba(250, 0, 0, 0.9);
  display: flex;
  align-items: center;
  width: 170px;
  border-radius: 12px;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  max-height: max-content;
}

.pageLayout {
  flex-grow: 1;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: 'Poppins', 'sans-serif';
}

.header {
  display: flex;
  gap: 20px;
}

.headerImage {
  cursor: pointer;
}

.adminContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.admin {
  font-size: 12px;
}

.adminName {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.driverListContainer {
  padding-top: 3%;
  font-family: 'Poppins', 'sans-serif';
  margin-left: 3%;
  margin-right: 3%;
}

.driverList {
  font-size: var(--h2-title-size);
  font-weight: 600;
  color: var(--color-orangered-100);
}

.dateCreated {
  font-size: var(--font-size-mini);
  color: #4c4f69;
  margin-top: -1%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabContainer {
  display: flex;
  gap: 20px;
}

.activeTab {
  background-color: #EC5954;
  border-radius: 24px;
  font-size: 16px;
  color: #F9F9F9;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notActiveTab {
  border: 1px solid #EC5954;
  border-radius: 24px;
  font-size: 16px;
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.renderContent {
  margin-top: 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2%;
  border-radius: 10px;
}

.contentTitle {
  text-transform: uppercase
}

/* .frameChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.9);
}

.driverProfile {
  position: absolute;
  top: 116px;
  left: 60px;
  font-size: var(--h2-title-size);
  font-weight: 600;
}

.personalInfo,
.profileChild {
  position: absolute;
  top: 0;
  left: 0;
}

.profileChild {
  border-radius: var(--br-smi);
  background-color: var(--background-backgroundprimary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 1039px;
  height: 643px;
}

.personalInfo {
  line-height: 21px;
  text-transform: uppercase;
}

.charinduUdanthaEdirisuriya,
.fullName {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
  font-weight: 500;
}

.charinduUdanthaEdirisuriya {
  top: 29px;
  font-weight: 600;
  color: #3f3f3f;
  text-align: left;
}

.fullNameParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 50px;
  text-align: center;
}

.cuEdirisuriya {
  position: absolute;
  top: 29px;
  left: 0;
  line-height: 21px;
  font-weight: 600;
  color: var(--color-darkslategray-400);
}

.fullNameWithInitialsParent {
  position: absolute;
  top: 72px;
  left: 0;
  width: 155px;
  height: 50px;
}

.email,
.udantha15gmailcom {
  position: absolute;
  top: 29px;
  left: 0;
  line-height: 21px;
  font-weight: 600;
}

.email {
  top: 0;
  font-weight: 500;
  color: var(--color-slategray);
}

.parent,
.udantha15gmailcomParent {
  height: 50px;
  color: var(--color-darkslategray-400);
}

.udantha15gmailcomParent {
  position: absolute;
  top: 144px;
  left: 0;
  width: 166px;
}

.parent {
  top: 216px;
  width: 106px;
}

.ageCategory,
.group,
.parent {
  position: absolute;
  left: 0;
}

.group {
  top: 288px;
  width: 150px;
  height: 50px;
  color: var(--color-darkslategray-400);
}

.ageCategory {
  top: 0;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 500;
}

.ageCategoryParent,
.groupParent {
  position: absolute;
  top: 360px;
  left: 0;
  width: 150px;
  height: 50px;
}

.groupParent {
  top: 56px;
  width: 218px;
  height: 410px;
  color: var(--color-slategray);
}

.personalInfoParent,
.profileInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 466px;
}

.profileInner {
  top: 32px;
  left: 68px;
}

.mainRoadAthidiya {
  margin: 0;
}

.mainRoadAthidiyaContainer {
  position: absolute;
  top: 18px;
  left: 0;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
}

.mainRoadAthidiyaDehiwalaGroup,
.mainRoadAthidiyaDehiwalaParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.mainRoadAthidiyaDehiwalaGroup {
  top: 72px;
  height: 50px;
}

.colombo,
.kmParent {
  position: absolute;
  left: 0;
}

.kmParent {
  top: 144px;
  width: 250px;
  height: 50px;
}

.colombo {
  top: 29px;
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
}

.colomboParent,
.groupContainer,
.technologyParent {
  position: absolute;
  top: 216px;
  left: 0;
  width: 300px;
  height: 50px;
}

.groupContainer,
.technologyParent {
  top: 288px;
  width: 84px;
}

.groupContainer {
  top: 56px;
  width: 290px;
  height: 338px;
  color: var(--color-darkslategray-400);
}

.groupDiv,
.profile,
.routeInfoParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 274px;
  height: 394px;
}

.groupDiv,
.profile {
  top: 32px;
  left: 687px;
}

.profile {
  top: 206px;
  left: 60px;
  border-radius: 9px;
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1026px;
  height: 541px;
  overflow: hidden;
  color: var(--color-steelblue-200);
}

.educationLevelParent {
  position: absolute;
  top: 288px;
  left: 0;
  width: 150px;
  height: 50px;
  color: var(--color-slategray);
}

.container,
.lkParent,
.n455346Parent,
.singleParent {
  position: absolute;
  top: 216px;
  left: 0;
  width: 150px;
  height: 50px;
}

.container,
.lkParent,
.n455346Parent {
  top: 0;
  width: 150px;
}

.lkParent,
.n455346Parent {
  top: 72px;
  width: 150px;
}

.lkParent {
  top: 144px;
  width: 76px;
}

.groupParent2,
.mainRoadAthidiyaDehiwalaContainer {
  position: absolute;
  top: 360px;
  left: 0;
  width: 252px;
  height: 71px;
}

.groupParent2 {
  top: 56px;
  height: 431px;
}

.vehicleInfo {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-steelblue-200);
}

.groupParent1 {
  position: absolute;
  top: 238px;
  left: 442px;
  width: 252px;
  height: 487px;
  color: var(--color-darkslategray-400);
}

.dateCreated04032023 {
  position: absolute;
  top: 145px;
  left: 62px;
  font-size: var(--paragraph-small-size);
  line-height: 21px;
  font-weight: 500;
  color: var(--color-slategray);
}

.rectangleContainermap {
  position: absolute;
  top: 120px;
  left: 900px;
}

.mapgroupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: #ea5d58;
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 65px;
}

.map {
  position: absolute;
  top: 11px;
  left: 14px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: center;
}

.edit,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
}

.groupChild {
  border-radius: var(--br-6xs);
  background-color: var(--background-backgroundprimary);
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 98px;
  height: 44px;
}

.edit {
  font-size: var(--body-large-semibold-size);
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-darkslategray-400);
  text-align: left;
}

.notepencilIcon {
  position: absolute;
  height: 83.05%;
  width: 34.62%;
  top: 12.42%;
  right: 0;
  bottom: 4.53%;
  left: 65.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.editParent {
  position: absolute;
  top: 11px;
  left: 22px;
  width: 52px;
  height: 21px;
}

.groupItem,
.mapgroupItem,
.rectangleGroup {
  position: absolute;
  height: 44px;
}

.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 771px;
  left: 851px;
  width: 98px;
}

.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: #ea5858;
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 128px;
}

.saveChanges {
  position: absolute;
  top: 11px;
  left: 14px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: left;
}

.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 771px;
  left: 959px;
  width: 128px;
  height: 44px;
}

.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-backgroundprimary);
  box-shadow: 0-1px 0#dfe5f1 inset;
  width: 1180px;
  height: 76px;
}

.search {
  position: absolute;
  top: 29px;
  left: 68px;
  font-weight: 100;
}

.iconsearchNormal {
  position: absolute;
  top: 28px;
  left: 30px;
  width: 20px;
  height: 20px;
}

.image53Icon,
.image55Icon,
.image56Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 32px;
  object-fit: cover;
}

.image55Icon,
.image56Icon {
  width: 40px;
  height: 42px;
}

.image56Icon {
  width: 60px;
  height: 63px;
}

.avatar {
  position: absolute;
  top: 22px;
  left: 1113px;
  border-radius: 190px;
  background-color: var(--background-backgroundprimary);
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.iconmessages2,
.iconnotificationBing {
  position: absolute;
  top: 26px;
  left: 955px;
  width: 24px;
  height: 24px;
}

.iconmessages2 {
  left: 1000px;
}

.searchbar2Fig4 {
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 30px;
}

.image54Icon,
.image55Icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  object-fit: cover;
}

.image55Icon1 {
  width: 35px;
  height: 36px;
}

.avatar1 {
  position: absolute;
  top: 22px;
  left: 1045px;
  border-radius: 201.88px;
  background-color: var(--background-backgroundprimary);
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.rectangleParent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1180px;
  height: 76px;
  color: var(--gray);
}

.activityLog,
.attachedDocuments {
  position: absolute;
  top: 847px;
  left: 62px;
  font-size: var(--h2-title-size);
  font-weight: 600;
}

.activityLog {
  top: 1250px;
}

.frameItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--background-backgroundprimary);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
}

.checklistDesignChallengeV2 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 49px;
  height: 49px;
  overflow: hidden;
}

.d,
.iconstar {
  position: absolute;
}

.d {
  top: 15px;
  left: 56px;
  border-radius: var(--br-3xs);
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.iconstar {
  top: 28px;
  left: 530px;
  width: 16px;
  height: 16px;
}

.infotype {
  position: absolute;
  top: 20px;
  left: 80px;
  font-weight: 600;
}

.status {
  position: absolute;
  font-size: var(--paragraph-small-size);
  color: var(--gray-2);
  top: 40px;
  left: 80px;
}

.frameDiv {
  position: absolute;
  top: 936px;
  left: 60px;
  width: 747px;
  height: 76px;
  overflow: hidden;
}

.frameDiv2 {
  position: absolute;
  top: 1325px;
  left: 60px;
  width: 747px;
  height: 76px;
  overflow: hidden;
}

.spanbadgeWrapper {
  position: absolute;
  top: 18px;
  left: 354px;
  background-color: var(--color-gray-300);
  width: 40px;
  height: 40px;
}

.rectangleParent2 {
  position: absolute;
  top: 1027px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent22 {
  position: absolute;
  top: 1414px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.nic {
  position: absolute;
  top: 29px;
  left: 47px;
  font-weight: 600;
}

.rectangleParent3 {
  position: absolute;
  top: 1118px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent32 {
  position: absolute;
  top: 1504px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent321 {
  position: absolute;
  top: 1594px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent3210 {
  position: absolute;
  top: 1684px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent3211 {
  position: absolute;
  top: 1775px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent3212 {
  position: absolute;
  top: 1865px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.vehicleImage {
  position: absolute;
  top: 28px;
  left: 46px;
  font-weight: 600;
}

.open {
  position: absolute;
  top: 2.67px;
  left: 8px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 30.47px;
  height: 14px;
}

.spanbadge {
  position: absolute;
  top: -10px;
  left: 16.77px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-mediumseagreen-100);
  width: 46.47px;
  height: 20px;
}

.spanbadgeWrapper1 {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: var(--color-gray-300);
  width: 30px;
  height: 30px;
}

.spanavatarIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 30px;
  height: 30px;
}

.spanbadgeWrapperParent {
  position: absolute;
  top: -255px;
  left: 275px;
  width: 40px;
  height: 316px;
  font-size: var(--other-other-regular-size);
  color: var(--background-backgroundprimary);
}

.spanbadgeWrapper122,
.spanbadgeWrapper22,
.spanbadgeWrapper32,
.spanbadgeWrapper42,
.spanbadgeWrapper421,
.spanbadgeWrapper422,
.spanbadgeWrapper423 {
  position: absolute;
  top: 0;
  left: 50px;
  background-color: var(--color-gray-300);
  width: 40px;
  height: 40px;
}

.spanbadgeWrapper22,
.spanbadgeWrapper32,
.spanbadgeWrapper42 {
  top: 91px;
}

.spanbadgeWrapper32,
.spanbadgeWrapper42 {
  top: 183px;
}

.spanbadgeWrapper42 {
  top: 276px;
}

.spanbadgeWrapper421 {
  top: 368px;
}

.spanbadgeWrapper422 {
  top: 450px;
}

.spanbadgeWrapper423 {
  top: 540px;
}

.approved,
.spantextLgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}

.approved {
  top: 1.67px;
  left: 22px;
  font-size: var(--other-other-regular-size);
  line-height: 16px;
  display: flex;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 56.6px;
  height: 14px;
}

.buttonbutton,
.spanflex {
  position: absolute;
  top: 5px;
  left: 12px;
  background-color: var(--color-gray-300);
  width: 78.6px;
  height: 18px;
}

.buttonbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumseagreen-100);
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 102.6px;
  height: 28px;
}

.reject,
.spantextLgIcon1 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 18px;
  height: 18px;
}

.reject {
  top: 2px;
  left: 25.4px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 14px;
}

.buttonbutton1,
.spanflex1 {
  position: absolute;
  top: 5px;
  left: 12.4px;
  background-color: var(--color-gray-300);
  width: 58.56px;
  height: 18px;
}

.buttonbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-salmon-100);
  top: 0;
  left: 110.6px;
  border-radius: var(--br-7xs);
  width: 82.56px;
  height: 28px;
}

.div4,
.spanflex3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 201.17px;
  height: 36px;
}

.spanflex3 {
  top: 5px;
  left: 12px;
  width: 58.56px;
  height: 18px;
}

.reject2,
.spantextLgIcon4 {
  position: absolute;
  top: 5px;
  left: 15.4px;
  width: 18px;
  height: 18px;
}

.reject2 {
  top: 7px;
  left: 37.79px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--background-backgroundprimary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 14px;
}

.div5,
.div6 {
  left: 0;
  background-color: var(--color-gray-300);
  height: 36px;
}

.div5 {
  position: absolute;
  top: 89px;
  width: 201.17px;
}

.div6 {
  top: 181px;
}

.div62 {
  top: 250px;
}

.div6,
.div7,
.div8,
.div999,
.div100,
.divParent {
  position: absolute;
  width: 201.17px;
}

.div7 {
  top: 269px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 36px;
}

.div8 {
  top: 357px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 36px;
}

.div999 {
  top: 445px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 36px;
}

.div100 {
  top: 535px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 36px;
}

.divParent {
  top: -248px;
  left: 515px;
  height: 305px;
}

.rectangleParent4 {
  position: absolute;
  top: 1209px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.rectangleParent42 {
  position: absolute;
  top: 1600px;
  left: 60px;
  width: 747px;
  height: 76px;
}

.frameChild2 {
  position: absolute;
  top: 1414px;
  left: 60px;
  border-radius: var(--br-smi);
  background-color: var(--background-backgroundprimary);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 841px;
  height: 747px;
}

.sunday06March {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 139.43px;
  height: 16.67px;
}

.div11 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 720.53px;
  height: 21px;
}

.cp,
.div11,
.spanavatar {
  position: absolute;
}

.cp {
  top: 8px;
  left: 6.82px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 16.35px;
  height: 14px;
}

.spanavatar {
  top: 4px;
  left: 0;
  border-radius: var(--br-9980xl);
  background-color: #14b8a6;
  width: 30px;
  height: 30px;
}

.divtimelineConnect {
  position: absolute;
  top: 43.67px;
  left: 14px;
  background-color: var(--color-gainsboro-200);
  width: 2px;
  height: 26.33px;
}

.divtimelineItemMedia {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 30px;
  height: 70px;
}

.spanbadgeDot {
  position: absolute;
  top: 6.5px;
  left: 318.58px;
  border-radius: var(--br-9980xl);
  background-color: #10b981;
  width: 8px;
  height: 8px;
}

.pm {
  position: absolute;
  top: 2px;
  left: 407.14px;
  line-height: 21px;
  width: 100%;
}

.approved4,
.pm,
.statusTo {
  display: flex;
  align-items: center;
  height: 16.67px;
}

.approved4 {
  position: absolute;
  top: 2px;
  left: 330.58px;
  line-height: 21px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  width: 74.55px;
}

.statusTo {
  left: 256.43px;
  width: 100%;
}

.carolynPerkins,
.hasChange,
.passport,
.statusTo {
  position: absolute;
  top: 2px;
  line-height: 21px;
}

.passport {
  left: 195px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
}

.carolynPerkins,
.hasChange {
  left: 107px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.carolynPerkins {
  left: 0;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  width: 106.51px;
}

.divtimelineItemWrapper,
.p {
  position: absolute;
  top: 6px;
  left: 46px;
  background-color: var(--color-gray-300);
  width: 674.53px;
  height: 21px;
  font-size: var(--paragraph-small-size);
  color: var(--color-slategray);
}

.divtimelineItemWrapper {
  top: 0;
  left: 0;
  width: 720.53px;
  height: 70px;
  font-size: var(--other-other-regular-size);
  color: var(--color-whitesmoke-200);
}

.imgavatarImgIcon {
  top: 0;
  object-fit: cover;
}

.imgavatarImgIcon,
.imgavatarImgIcon1,
.spanavatar1 {
  position: absolute;
  left: 0;
  border-radius: var(--br-9980xl);
  width: 30px;
  height: 30px;
}

.imgavatarImgIcon1 {
  top: 0.33px;
  object-fit: cover;
}

.spanavatar1 {
  top: 4px;
  background-color: var(--color-darkgray-100);
}

.divtimelineConnect1 {
  position: absolute;
  top: 43.67px;
  left: 14px;
  background-color: var(--color-gainsboro-200);
  width: 2px;
  height: 106.67px;
}

.divtimelineItemMedia1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 30px;
  height: 150.33px;
}

.pm1 {
  left: 242.61px;
  width: 100%;
}

.commentOnYour,
.pm1,
.post {
  position: absolute;
  top: 2px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.post {
  left: 205.2px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  width: 100%;
}

.commentOnYour {
  left: 80.61px;
  width: 100%;
}

.p1,
.ronVargas {
  position: absolute;
  left: 0;
}

.ronVargas {
  top: 2px;
  line-height: 21px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.p1 {
  top: 0;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 21px;
}

.fineJavaMightContainer1 {
  line-break: anywhere;
  width: 100%;
}

.fineJavaMightContainer {
  position: absolute;
  top: 22px;
  left: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 37.67px;
}

.divcard,
.divcardBody {
  position: absolute;
  top: 0.67px;
  left: 0.67px;
  background-color: var(--color-gray-300);
  width: 673.2px;
  height: 82px;
}

.divcard {
  top: 37px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--background-backgroundprimary);
  border: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 674.53px;
  height: 83.33px;
}

.div12,
.divtimelineItemWrapper1 {
  position: absolute;
  top: 6px;
  left: 46px;
  background-color: var(--color-gray-300);
  width: 674.53px;
  height: 120.33px;
}

.divtimelineItemWrapper1 {
  top: 70px;
  left: 0;
  width: 720.53px;
  height: 150.33px;
}

.spanavatarIcon4 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-9980xl);
  width: 30px;
  height: 30px;
}

.divtimelineConnect2 {
  position: absolute;
  top: 38px;
  left: 14px;
  background-color: var(--color-gainsboro-200);
  width: 2px;
  height: 32px;
}

.joyceFreeman,
.spanfontSemibold {
  position: absolute;
  left: 0;
  width: 102.82px;
}

.joyceFreeman {
  top: 2px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.spanfontSemibold {
  top: 2.17px;
  background-color: var(--color-gray-300);
  height: 21px;
  color: var(--color-gray-400);
}

.spantagAffix {
  position: absolute;
  top: 8.67px;
  left: 10.67px;
  border-radius: var(--br-9980xl);
  background-color: #f43f5e;
  width: 8px;
  height: 8px;
}

.liveIssue {
  position: absolute;
  top: 5.33px;
  left: 24.67px;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 57.59px;
  height: 14px;
}

.divtag,
.spantagAffix1 {
  position: absolute;
  border-radius: var(--br-9980xl);
}

.divtag {
  top: 0;
  left: 189.72px;
  background-color: var(--color-gray-300);
  border: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 92.93px;
  height: 25.33px;
  font-size: var(--other-other-regular-size);
}

.spantagAffix1 {
  top: 8.67px;
  left: 10.67px;
  background-color: #3b82f6;
  width: 8px;
  height: 8px;
}

.backend {
  position: absolute;
  top: 5.33px;
  left: 24.67px;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 50.26px;
  height: 14px;
}

.divtag1 {
  position: absolute;
  top: 0;
  left: 290.65px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-gray-300);
  border: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 85.59px;
  height: 25.33px;
  font-size: var(--other-other-regular-size);
}

.addedTags,
.pm2 {
  position: absolute;
  top: 4.17px;
  left: 392.24px;
  line-height: 21px;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.addedTags {
  left: 106.82px;
  width: 100%;
}

.divflex,
.divtimelineItemWrapper2 {
  position: absolute;
  top: 6px;
  left: 46px;
  background-color: var(--color-gray-300);
  width: 674.53px;
  height: 25.33px;
}

.divtimelineItemWrapper2 {
  top: 220.33px;
  left: 0;
  width: 720.53px;
  height: 70px;
  font-family: var(--font-urbanist);
}

.lukeCook,
.spanfontSemibold1 {
  position: absolute;
  left: 0;
  width: 71.26px;
}

.lukeCook {
  top: 2px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.spanfontSemibold1 {
  top: 0;
  background-color: var(--color-gray-300);
  height: 21px;
}

.pd1092,
.spanfontSemibold2 {
  position: absolute;
  width: 65.52px;
}

.pd1092 {
  top: 2px;
  left: 05px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.spanfontSemibold2 {
  top: 0;
  left: 280.02px;
  background-color: var(--color-gray-300);
  height: 21px;
}

.pm3,
.toTicket {
  font-family: var(--font-inter);
  color: var(--color-slategray);
}

.pm3 {
  position: absolute;
  top: 2px;
  left: 351.54px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.toTicket {
  left: 221.95px;
  width: 100%;
}

.added,
.documentcsv,
.toTicket {
  position: absolute;
  top: 2px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.documentcsv {
  left: 121.39px;
  font-weight: 600;
  width: 96.56px;
}

.added {
  left: 75.26px;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  width: 42.13px;
}

.divflex1,
.divtimelineItemWrapper3 {
  position: absolute;
  top: 6px;
  left: 46px;
  background-color: var(--color-gray-300);
  width: 674.53px;
  height: 21px;
}

.divtimelineItemWrapper3 {
  top: 290.33px;
  left: 0;
  width: 720.53px;
  height: 70px;
  color: var(--color-gray-400);
  font-family: var(--font-urbanist);
}

.pm4,
.post1 {
  position: absolute;
  top: 2px;
  left: 335.93px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.post1 {
  left: 295.51px;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  width: 30.42px;
}

.mentionedYouIn {
  top: 2px;
  left: 93.08px;
  width: 100%;
}

.carolyn,
.hadNoWay,
.mentionedYouIn,
.oneOfThe,
.taraFletcher {
  position: absolute;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.taraFletcher {
  top: 2px;
  left: 0;
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-gray-400);
  width: 89.08px;
}

.carolyn,
.hadNoWay,
.oneOfThe {
  top: 22px;
  left: 95.76px;
  width: 100%;
}

.carolyn,
.hadNoWay {
  top: 43px;
  left: 20px;
  width: 100%;
}

.carolyn {
  top: 22px;
  width: 67.75px;
}

.divtimelineItemWrapper4 {
  position: absolute;
  top: 360.33px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 720.53px;
  height: 150.33px;
}

.lw {
  position: absolute;
  top: 8px;
  left: 5.93px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 18.15px;
  height: 14px;
}

.spanavatar3 {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: var(--br-9980xl);
  background-color: #ec4899;
  width: 30px;
  height: 30px;
}

.leeWheeler,
.spanfontSemibold3 {
  position: absolute;
  left: 0;
  width: 84.77px;
}

.leeWheeler {
  top: 2px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.spanfontSemibold3 {
  top: 0;
  background-color: var(--color-gray-300);
  height: 21px;
}

.gailBarnes {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 76.71px;
  height: 16.67px;
}

.spanfontSemibold4 {
  position: absolute;
  top: 0;
  left: 273.79px;
  background-color: var(--color-gray-300);
  width: 76.71px;
  height: 21px;
}

.pm5,
.to {
  font-family: var(--font-inter);
  color: var(--color-slategray);
}

.pm5 {
  position: absolute;
  top: 2px;
  left: 362.5px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 16.67px;
}

.to {
  left: 256.43px;
  width: 13.36px;
}

.assignedTicket,
.pd10921,
.to {
  position: absolute;
  top: 2px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}

.pd10921 {
  left: 197.91px;
  font-weight: 600;
  width: 59.52px;
}

.assignedTicket {
  left: 88.77px;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  width: 100%;
}

.divflex2 {
  position: absolute;
  top: 6px;
  left: 46px;
  background-color: var(--color-gray-300);
  width: 674.53px;
  height: 21px;
  font-size: var(--paragraph-small-size);
  color: var(--color-gray-400);
  font-family: var(--font-urbanist);
}

.divtimelineItemWrapper5 {
  top: 510.67px;
  height: 43.67px;
  font-size: var(--other-other-regular-size);
  color: var(--color-whitesmoke-200);
}

.div10,
.divtimelineItemWrapper5,
.ultimeline {
  position: absolute;
  left: 0;
  background-color: var(--color-gray-300);
  width: 720.53px;
}

.ultimeline {
  top: 37px;
  height: 554.33px;
  font-family: var(--font-inter);
}

.div10 {
  top: 0;
  height: 591.33px;
}

.loadMore {
  position: absolute;
  top: 13.5px;
  left: 32.67px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.52px;
  height: 16.67px;
}

.buttonbutton8 {
  position: absolute;
  top: 1652px;
  left: 291.83px;
  border-radius: var(--br-7xs);
  background-color: var(--background-backgroundprimary);
  border: 0.7px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 136.85px;
  height: 44px;
  text-align: center;
  color: var(--color-dimgray-200);
}

.div9 {
  position: absolute;
  top: 56px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 721px;
  height: 623px;
}


.asset84xIcon,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 250px;
  width: 1180px;
  height: 2211px;
}

.asset84xIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.divlogo,
.logo {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 175px;
  height: 35px;
}

.divlogo {
  top: 25px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 250px;
  height: 64px;
}

.growthIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}

.myGroup {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-gray-100);
  text-align: left;
}

.component1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-14xl);
  background-color: transparent;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}

.component1Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.analytics {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-red-100);
  text-align: left;
}

.rocketlaunchParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-lavenderblush);
  border-radius: var(--br-base);
  box-shadow: 0 4px 58px rgba(0, 0, 0, 0.07);
  width: 219px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  z-index: 0;
}

.frameChild3 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 15.5px);
  left: 0;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-red-100);
  width: 6px;
  height: 32px;
  z-index: 1;
}

.frameParent,
.menuItem {
  display: flex;
  flex-direction: column;
}

.frameParent {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-36xl);
}

.menuItem {
  position: absolute;
  top: 158px;
  left: 0;
  width: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.influencer,
.theresaMilly {
  position: relative;
  line-height: 137.1%;
}

.theresaMilly {
  letter-spacing: 0.02em;
  font-weight: 500;
}

.influencer {
  font-size: var(--other-other-regular-size);
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}

.theresaMillyParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logout1 {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-orangered-100);
  text-align: left;
}

.logout,
.logoutGroup {
  display: flex;
  justify-content: center;
}

.logoutGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-13xl);
  background-color: var(--color-orangered-200);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}

.logout {
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  box-shadow: 0 11px 56px rgba(0, 0, 0, 0.07);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 202px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-17xl) var(--padding-base) var(--padding-base);
  gap: var(--gap-xs);
}

.ellipseIcon {
  position: absolute;
  top: 0;
  left: 71px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.logoutParent {
  position: absolute;
  top: 672px;
  right: 27px;
  width: 202px;
  height: 178px;
}

.driverProfileDetail,
.navbar {
  background-color: var(--background-backgroundprimary);
  height: 2211px;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  width: 253px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-lexend);
}

.driverProfileDetail {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--black-2);
  font-family: var(--font-urbanist);
} */