.welcome {
  margin: 0;
}
.welcomeStartYourContainer1 {
  line-break: anywhere;
  width: 100%;
}
.welcomeStartYourContainer {
  position: relative;
  line-height: 120%;
  display: flex;
  font-weight: 300;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  width: 479px;
}
.bg {
  background: linear-gradient(
    180deg,
    rgba(218, 34, 34, 0.88),
    rgba(218, 89, 34, 0.85)
  );
  width: 573px;
  height: 900px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-9xs) var(--padding-16xl);
  box-sizing: border-box;
}
.asset84xIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo {
  position: relative;
  width: 288px;
  height: 57px;
}
.loginToYour,
.welcomeBack {
  position: relative;
  line-height: 100%;
}
.loginToYour {
  font-size: var(--heading-size);
  font-weight: 600;
  color: var(--text-primary);
}
.welcomeBackParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.emailParent {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.forgot,
.password {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.password {
  flex: 1;
}
.forgot {
  text-decoration: none;
  color: var(--color-red);
  text-align: right;
  cursor: pointer;
}
.frameGroup,
.frameParent,
.inputTextWrapper,
.passwordParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup,
.frameParent,
.inputTextWrapper {
  flex-direction: column;
}
.frameGroup,
.frameParent {
  gap: var(--gap-xs);
}
.frameParent {
  gap: var(--gap-5xl);
}
.loginNow {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-large-semibold);
  color: var(--background-backgroundprimary);
  text-align: left;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-red);
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.dontHaveAn,
.signUp {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.signUp {
  text-decoration: none;
  color: var(--color-red);
  cursor: pointer;
}
.buttonsParent,
.dontHaveAnAccountParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.buttonsParent {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  color: var(--text-tertiary);
}
.bgLogin,
.logIn,
.login {
  background-color: var(--background-backgroundprimary);
  display: flex;
  align-items: center;
}
.login {
  border-radius: var(--br-5xs);
  width: 555px;
  height: 588px;
  flex-direction: column;
  justify-content: center;
  padding: 48px 72px;
  box-sizing: border-box;
  gap: 40px;
}
.bgLogin,
.logIn {
  height: 900px;
  overflow: hidden;
}
.bgLogin {
  width: 867px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-60xl) var(--padding-137xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--body-large-semibold-size);
}
.logIn {
  text-decoration: none;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--text-secondary);
  font-family: var(--body-large-semibold);
}
