.divheaderWrapperIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 972.66px;
  height: 65px;
}
.divheaderActionItem {
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-gray-300);
  width: 40px;
  height: 40px;
}
.svgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.spanbadgeDot {
  position: absolute;
  top: -1px;
  left: 14px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-crimson-100);
  width: 8px;
  height: 8px;
}
.spanbadgeWrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-gray-300);
  width: 24px;
  height: 24px;
}
.divIcon,
.spanavatarIcon {
  position: relative;
  border-radius: var(--br-9980xl);
  width: 40px;
  height: 40px;
}
.spanavatarIcon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 33px;
  height: 33px;
}
.admin {
  position: absolute;
  top: 0.67px;
  left: 0;
  line-height: 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 35.86px;
  height: 14px;
}
.divtextXs {
  top: 0;
  background-color: var(--color-gray-300);
  height: 16px;
}
.abdurrahman,
.divfontBold,
.divtextXs {
  position: absolute;
  left: 0;
  width: 94.66px;
}
.abdurrahman {
  top: 2px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
}
.divfontBold {
  text-decoration: none;
  top: 16px;
  height: 21px;
  font-size: var(--paragraph-small-size);
  color: inherit;
}
.divfontBold,
.divheaderActionItem1,
.divhidden {
  background-color: var(--color-gray-300);
}
.divhidden {
  position: absolute;
  top: 8px;
  left: 48px;
  width: 94.66px;
  height: 37px;
}
.divheaderActionItem1 {
  position: relative;
  border-radius: var(--br-9980xl);
  width: 150.66px;
  height: 53px;
}
.divheaderAction {
  position: absolute;
  top: calc(50% - 26px);
  right: 80px;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-5xs);
}
.headerheader {
  position: absolute;
  top: 0;
  left: calc(50% - 595px);
  background-color: var(--background-backgroundprimary);
  border-bottom: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1190px;
  height: 64px;
}
.profile,
.settings {
  position: absolute;
  line-height: 21px;
}
.settings {
  top: 114px;
  left: calc(50% - 535px);
  font-size: var(--font-size-5xl);
  font-family: var(--body-large-semibold);
  color: var(--color-darkslategray-200);
}
.profile {
  top: 14px;
  left: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 43.64px;
  height: 16.67px;
}
.divtabNav {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  border-bottom: 2px solid var(--color-red-100);
  box-sizing: border-box;
  width: 83.64px;
  height: 47px;
  text-align: left;
  font-size: var(--paragraph-small-size);
  color: var(--color-red-100);
  font-family: var(--body-large-semibold);
}
.preferences {
  position: absolute;
  top: 12px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
}
.divtabNav1,
.divtabNav2 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 82.64px;
  background-color: var(--color-gray-300);
  border-bottom: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 106.38px;
  height: 47px;
  text-align: left;
  font-size: var(--paragraph-small-size);
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
.divtabNav2 {
  left: 189.01px;
  width: 118.93px;
  font-family: var(--body-large-semibold);
}
.integration {
  position: absolute;
  top: 14px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 74.16px;
  height: 16.67px;
}
.divtabNav3 {
  position: absolute;
  top: 0;
  left: 308.94px;
  background-color: var(--color-gray-300);
  border-bottom: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 114.16px;
  height: 47px;
  display: none;
}
.billing {
  position: absolute;
  top: 14px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41.09px;
  height: 16.67px;
}
.divtabNav4 {
  position: absolute;
  top: 0;
  left: 423.09px;
  background-color: var(--color-gray-300);
  border-bottom: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 81.09px;
  height: 47px;
  display: none;
}
.divtabList,
.general {
  position: absolute;
  font-family: var(--font-inter);
}
.divtabList {
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  border-bottom: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 504px;
  height: 48px;
  overflow: hidden;
}
.general {
  top: 82px;
  left: 20px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 600;
  color: var(--color-gray-400);
  display: flex;
  align-items: center;
  width: 67.9px;
  height: 22px;
}
.brandName {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
  font-weight: 500;
}
.divfontSemibold {
  position: absolute;
  top: 43.5px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 281.55px;
  height: 21px;
}
.spaninputWrapper {
  width: 438px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 131.55px;
}
.divgrid,
.divgrid1 {
  position: absolute;
  top: 121px;
  left: 42px;
  background-color: var(--color-gray-300);
  border-bottom: 0.7px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 601px;
  height: 109px;
}
.divgrid1 {
  top: 339px;
}
.imgavatarImgIcon {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: var(--br-9980xl);
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.spanavatarChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.divgrid2,
.spanavatar {
  position: absolute;
  box-sizing: border-box;
}
.spanavatar {
  top: 25px;
  left: 141px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-darkgray-100);
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0 transparent, 0 0 0 transparent;
  border: 2px solid var(--background-backgroundprimary);
  width: 60px;
  height: 60px;
}
.divgrid2 {
  top: 230px;
  left: 42px;
  background-color: var(--color-gray-300);
  border-bottom: 0.7px solid var(--color-gainsboro-200);
  width: 601px;
  height: 109px;
}
.reset {
  position: absolute;
  top: 11.5px;
  left: 29.67px;
  font-size: var(--body-large-semibold-size);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dimgray-200);
  text-align: center;
}
.buttonbutton {
  cursor: pointer;
  border: 0.7px solid var(--color-lightgray-200);
  padding: 0;
  background-color: var(--background-backgroundprimary);
  position: absolute;
  top: 521px;
  left: 380px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 103.94px;
  height: 44px;
}
.update {
  position: absolute;
  top: 11.5px;
  left: 28px;
  font-size: var(--body-large-semibold-size);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--background-backgroundprimary);
  text-align: center;
}
.buttonbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-red);
  position: absolute;
  top: 521px;
  left: 498.94px;
  border-radius: var(--br-7xs);
  width: 113.43px;
  height: 44px;
}
.divtabListParent {
  position: absolute;
  top: 185px;
  left: 421px;
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 668px;
  height: 623px;
  overflow: hidden;
  font-size: var(--paragraph-small-size);
  font-family: var(--body-large-semibold);
}
.spanavatarIcon1 {
  position: relative;
  border-radius: var(--br-9980xl);
  width: 90.45px;
  height: 90.33px;
}
.louisianaKitchenInc,
.popeyes {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165.66px;
  height: 24px;
  flex-shrink: 0;
}
.louisianaKitchenInc {
  font-size: var(--other-other-regular-size);
  line-height: 21px;
  font-weight: 500;
  color: var(--color-darkslategray-400);
  width: 182.28px;
  height: 16.67px;
}
.divflex1,
.popeyesParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popeyesParent {
  justify-content: center;
  gap: 3px;
}
.divflex1 {
  background-color: var(--color-gray-300);
  justify-content: flex-start;
  padding: 0 43px;
  gap: var(--gap-lg);
}
.email,
.iamfredimazeinfotechio {
  position: relative;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 35.08px;
  height: 16.67px;
  flex-shrink: 0;
}
.iamfredimazeinfotechio {
  font-weight: 500;
  color: var(--color-darkslategray-400);
  width: 182.28px;
}
.div1 {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
  gap: var(--gap-9xs);
}
.phone {
  width: 41.86px;
}
.div3,
.location,
.phone {
  position: relative;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 16.67px;
  flex-shrink: 0;
}
.div3 {
  font-weight: 500;
  color: var(--color-darkslategray-400);
  width: 150.33px;
}
.location {
  width: 56.9px;
}
.colomboSriLanka {
  font-weight: 500;
  color: var(--color-darkslategray-400);
}
.colomboSriLanka,
.div6,
.registeredDate,
.social,
.title1 {
  position: relative;
  line-height: 21px;
}
.div6,
.social,
.title1 {
  display: flex;
  align-items: center;
  height: 16.67px;
  flex-shrink: 0;
}
.div6 {
  font-weight: 500;
  color: var(--color-darkslategray-400);
  width: 73.02px;
}
.social,
.title1 {
  width: 29.04px;
}
.social {
  width: 39.64px;
}
.svgIcon1 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.buttonbutton2,
.buttonbutton3,
.buttonbutton4,
.buttonbutton5 {
  cursor: pointer;
  border: 0.7px solid var(--color-lightgray-200);
  padding: 0;
  background-color: var(--background-backgroundprimary);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9980xl);
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.buttonbutton3,
.buttonbutton4,
.buttonbutton5 {
  left: 44px;
}
.buttonbutton4,
.buttonbutton5 {
  left: 88px;
}
.buttonbutton5 {
  left: 132px;
}
.divflex2 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 251.56px;
  height: 36px;
}
.div8 {
  align-items: flex-start;
  gap: var(--gap-lg);
}
.div8,
.divflex,
.divgrid3 {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divgrid3 {
  align-items: flex-start;
  gap: 29px;
  text-align: left;
  font-size: var(--paragraph-small-size);
  color: var(--color-slategray);
}
.divflex {
  position: absolute;
  top: 30px;
  left: 30px;
  align-items: center;
  gap: 30px;
}
.divcard,
.divflexWrapper {
  position: absolute;
  top: -9.33px;
  left: -9.33px;
  width: 311.56px;
  height: 737px;
}
.divcard {
  top: 185px;
  left: 70px;
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 293px;
  height: 660px;
  text-align: center;
  font-size: var(--h2-title-size);
  color: var(--color-gray-400);
}
.asset84xIcon,
.headerheaderParent {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.headerheaderParent {
  position: absolute;
  top: calc(50% - 450px);
  left: 250px;
  background-color: var(--background-backgroundprimary);
  width: 1190px;
  height: 900px;
  overflow: hidden;
}

.asset84xIcon {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divlogo,
.logo {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 175px;
  height: 35px;
}
.divlogo {
  top: 25px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 250px;
  height: 64px;
}
.growthIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.myGroup {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-gray-100);
  text-align: left;
}
.component1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-14xl);
  background-color: transparent;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.component1Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analytics1,
.myGroup1 {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  text-align: left;
}
.myGroup1 {
  color: var(--color-gray-100);
  display: inline-block;
  width: 119px;
  flex-shrink: 0;
}
.analytics1 {
  color: var(--color-red-100);
}
.settingParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-lavenderblush);
  border-radius: var(--br-base);
  box-shadow: 0 4px 58px rgba(0, 0, 0, 0.07);
  width: 219px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  z-index: 0;
}
.frameChild {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 15.5px);
  left: 0;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-red-100);
  width: 6px;
  height: 32px;
  z-index: 1;
}
.frameParent,
.menuItem {
  display: flex;
  flex-direction: column;
}
.frameParent {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-36xl);
}
.menuItem {
  position: absolute;
  top: 158px;
  left: 0;
  width: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.influencer,
.theresaMilly {
  position: relative;
  line-height: 137.1%;
}
.theresaMilly {
  letter-spacing: 0.02em;
  font-weight: 500;
}
.influencer {
  font-size: var(--other-other-regular-size);
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}
.theresaMillyParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logout1 {
  position: relative;
  font-size: var(--paragraph-small-size);
  letter-spacing: 0.02em;
  line-height: 137.1%;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-orangered-100);
  text-align: left;
}
.logout,
.logoutGroup {
  display: flex;
  justify-content: center;
}
.logoutGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-13xl);
  background-color: var(--color-orangered-200);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.logout {
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: var(--br-base);
  background-color: var(--background-backgroundprimary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 202px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-17xl) var(--padding-base) var(--padding-base);
  gap: var(--gap-xs);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 71px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.logoutParent {
  position: absolute;
  top: 672px;
  right: 27px;
  width: 202px;
  height: 178px;
}
.navbar,
.setting {
  background-color: var(--background-backgroundprimary);
  height: 900px;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  width: 253px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-lexend);
}
.setting {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--other-other-regular-size);
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
