.pageLayout {
    position: relative;
    flex-grow: 1;
  }

  .topic {
    position: relative;
    font-size: 24px;
    font-family: 'Poppins';
    top: 14px;
    left: 5%;
    color: #3D3C3C
  }

  .label {
    position: relative;
    font-family: 'Urbanist-SemiBold';
    font-size: 14px;
    top: 47px;
    left: 5%;
    color: #6B7280
  }

  .inputContainer {
    position: relative;
    top: 57px;
    left: 5%;
    height: 59px;
    margin-bottom: 20px;
    border-color: #6B7280;
   }

   .inputContainer1 {
    margin-bottom: 20px;
    border-color: #6B7280;
   }

  .descCont {
    position: relative;
    top: 10px;
    border: 1px solid #D1D5DB;
    width: 100%;
    height: 42px;
    border-radius: 8px 8px 0 0;
   } 

   .cmpLogo {
    position: relative;
    font-family: 'Urbanist-SemiBold';
    width: 123px;
    height: 24px;
    left: 46%;
    bottom: 850px;
   }

   .logoFrame {
    position: relative;
    background-color: #FFF3F3;
    height: 168.7px;
    width: 171px;
    left: 46%;
    bottom: 830px;
    border-radius: 8.43px;
   }

   .white {
    position: relative;
    background-color: white;
    height: 99.69px;
    width:99.69px;
    top: 32px;
    left: 20%;
    border-radius: 6.13px;
   }

   .nopic {
    position: relative;
    width: 18.28px;
    height: 18.28px;
    top: 40px;
    left: 40%
   }

   .add {
    position: relative;
    width: 25px;
    height: 25px;
    top: 68px;
    left: 80%;
   }

   .v1 {
    position: relative;
    left: 5%;
    top:5px
   }

   .ImgTitle {
    position: relative;
    width: 115px;
    height: 22px;
    left: 46%;
    bottom: 750px;
   }

   .imgFrame {
    position: absolute;
    background-color: #FFF3F3;
    height: 420px;
    width: 611px;
    left: 46%;
    bottom: 300px;
    border-radius: 11.43px 0 0 0;
   }

   .frnt {
    position: relative;
    top: 15px;
    left: 5%
   }

   .add1 {
    position: relative;
    width: 20px;
    height: 20px;
    left: 20%;
    bottom: 8px;
   }

   .back {
    position: relative;
    bottom: 160px;
    left: 50%
   }

   .add2 {
    position: relative;
    width: 20px;
    height: 20px;
    left: 65%;
    bottom: 180px;
   }

   .v2 {
    position: relative;
    left: 50%;
    bottom: 170px;
   }

   .left {
    position: relative;
    bottom: 140px;
    left: 5%
   }

   .add3 {
    position: relative;
    width: 20px;
    height: 20px;
    left: 25%;
    bottom: 162px;
   }

   .v3 {
    position: relative;
    bottom: 140px;
    left: 5%;
   }

   .right {
    position: relative;
    bottom: 320px;
    left: 52%
   }

   .add4 {
    position: relative;
    width: 20px;
    height: 20px;
    left: 73%;
    bottom: 340px;
   }

   .v4 {
    position: relative;
    left: 50%;
    bottom: 320px
   }

   .cancel {
    width: 80px;
    height: 40px;
    border: 1PX SOLID #D1D5DB;
    border-radius: 6px;
    margin-right: 15px;
   }

   .confirm {
    position: absolute;
    width: 80px;
    height: 40px;
    border: 1PX SOLID #D1D5DB;
    border-radius: 6px;
    left: 100%;  
    color: white;
    background-color: #13368E;
   }