.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 3px solid rgb(0, 0, 0, 0.2);
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section {
  align-self: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarItemContainer {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.notActiveIcon {
  width: 5px;
  height: 40px;
  border-radius: 20px;
  padding-left: 2px;
}

.sidebarItem {
  font-family: 'Poppins', 'sans-serif';
  color: #818187;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 16px;
  width: 100%;
  margin-right: 10px;
  padding-left: 60px;
  cursor: pointer;
}

.sidebarItem img {
  width: 18px;
  height: 18px;
}

.activeIcon {
  width: 5px;
  background-color: #FA0000;
  height: 40px;
  border-radius: 20px;
  padding-left: 2px;
}

.activeSidebarItemContainer {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.activeSidebarItem {
  background-color: rgba(250, 0, 0, 0.05);
  font-family: 'Poppins', 'sans-serif';
  color: #FA0000;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 16px;
  width: 100%;
  margin-right: 10px;
  padding-left: 50px;
  cursor: pointer;
}

.activeSidebarItem img {
  width: 18px;
  height: 18px;
}

.logoutParent {
  width: 202px;
  height: 178px;
  border: 1px solid #818187;
  align-self: center;
}

.companyIcon {
  width: 80px;
  justify-content: center;
}

.logoutSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 16px;
  font-family: 'Poppins', 'sans-serif';
}

.companyImage {
  margin-top: -40px;
  width: 80px;

}

.companyText {
  color: black;
  font-weight: 700;
  margin-top: 10px;
}

.brandText {
  font-size: 12px;
  margin-top: -15px;
}

.logoutButton {
  background-color: rgba(250, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Poppins', 'sans-serif';
  color: rgba(250, 0, 0, 0.9);
  display: flex;
  align-items: center;
  width: 170px;
  border-radius: 12px;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}