.loginToYour,
.welcomeBack {
  position: relative;
  line-height: 100%;
}
.loginToYour {
  margin: 0;
  font-size: var(--heading-size);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-primary);
}
.welcomeBackParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.email {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.emailWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputText {
  border: 0;
  font-family: var(--body-large-semibold);
  font-size: var(--paragraph-small-size);
  background-color: transparent;
  align-self: stretch;
  flex: 1;
}
.frameGroup,
.inputTextWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputTextWrapper {
  height: 48px;
  flex-direction: row;
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-xs);
}
.forgot {
  text-decoration: none;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-red);
  text-align: right;
  cursor: pointer;
}
.inputText1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.frameParent,
.inputTextContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  gap: var(--gap-5xl);
}
.loginNow {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-large-semibold);
  color: var(--background-backgroundprimary);
  text-align: left;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-red);
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.dontHaveAn,
.signUp {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.signUp {
  text-decoration: none;
  color: var(--color-red);
}
.dontHaveAnAccountParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.buttonsParent,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--text-tertiary);
}
.login {
  position: absolute;
  top: 645px;
  left: 120px;
  border-radius: var(--br-3xs);
  width: 400px;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--text-secondary);
  font-family: var(--body-large-semibold);
}
.iconeye,
.iconeyeslash {
  position: absolute;
  top: 80px;
  left: 120px;
  width: 32px;
  height: 32px;
}
.iconeyeslash {
  left: 182px;
}
.property1default,
.property1filled {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 16px;
}
.property1filled {
  top: 80px;
}
.property1defaultParent {
  position: absolute;
  top: 192px;
  left: 120px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 384px;
  height: 149px;
  overflow: hidden;
}
.property1secondary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-red);
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: var(--br-5xs);
  width: 352px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.icongoogleOriginal {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.loginNow2 {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-large-semibold);
  color: var(--primary1);
  text-align: left;
}
.property1secondary1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-weak);
  position: absolute;
  top: 80px;
  left: 16px;
  border-radius: var(--br-5xs);
  width: 352px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.buttons1,
.icongoogleOriginal1 {
  position: absolute;
  overflow: hidden;
}
.buttons1 {
  top: 421px;
  left: 120px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 384px;
  height: 144px;
}
.icongoogleOriginal1 {
  top: 80px;
  left: 244px;
  width: 32px;
  height: 32px;
}
.welcomeBack1 {
  position: relative;
  line-height: 100%;
  display: none;
}
.frameChild {
  border: 0;
  font-family: var(--body-large-semibold);
  font-size: var(--paragraph-small-size);
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.context,
.forgot1 {
  position: relative;
  line-height: 100%;
}
.forgot1 {
  text-transform: capitalize;
  color: var(--color-red);
  text-align: right;
}
.context {
  flex: 1;
}
.iconeye1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.iconeyeWrapper,
.inputText2 {
  flex-direction: row;
  align-items: center;
}
.iconeyeWrapper {
  display: flex;
  justify-content: flex-end;
}
.inputText2 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--text-tertiary);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-8xs);
}
.buttons2,
.inputText2,
.inputTextFrame {
  align-self: stretch;
  display: flex;
}
.inputTextFrame {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--paragraph-small-size);
  color: var(--text-tertiary);
}
.buttons2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-red);
  border-radius: var(--br-5xs);
  height: 48px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.loginNow4 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.buttons3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--primary-weak);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.logIn {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-red);
}
.alreadyHaveAnAccountParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--text-tertiary);
}
.buttonsGroup,
.signUp1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsGroup {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--primary1);
}
.signUp1 {
  position: absolute;
  top: 1085px;
  left: 120px;
  border-radius: var(--br-3xs);
  width: 400px;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--text-secondary);
  font-family: var(--body-large-semibold);
}
.componet {
  background-color: var(--background-backgroundprimary);
  width: 640px;
  height: 1633px;
  overflow: hidden;
}
